distinguished_name = req_distinguished_name
prompt = no
[req_distinguished_name]
C = US
ST = Tennessee
L = Memphis
O = St. Jude Children's Research Hospital
OU = Information Services
CN = *.stjude.org
