This is the banner!

__________________________________________________________________________

--------------------------------------------------------------------------
                            {{ base.hostname }}
--------------------------------------------------------------------------